/* dropdown menu */
.dropdown-menu-opsi {
  padding: 5px;
  box-sizing: border-box;
}

.dropdown-menu-opsi a {
  margin-bottom: 5px;
  display: block;
  border-radius: 5px;
  padding: 8px;
}

/* opsi */
.show-opsi {
  width: 60px;
  border-radius: 5px;
  color: white;
  padding: 5px;
  display: inline-block;
  box-sizing: border-box;
}

.download-file {
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.download-file:hover {
  color: white;
}

/* input */
::-webkit-file-upload-button {
  background-color: #A460ED;
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

::-webkit-file-upload-button:hover {
  background-color: #8042c2;
}