/* ==== SKB STYLE ====  */
/* Background Color */
.bg-skb-1 {
  background-color: #F675A8;
  color: white;
}

.bg-skb-1-hover {
  background-color: #F675A8;
  color: white;
}

.bg-skb-1-hover:hover {
  background-color: #ce4e81;
  color: white;
}

.bg-skb-2 {
  background-color: #ce4e81;
  color: white;

}

.bg-skb-3 {
  background-color: #A460ED;
  color: white;

}

.bg-skb-4 {
  background-color: #8449c4;
  color: white;
}

.bg-skb-5 {
  background-color: #acacac;
  color: white;
}

.bg-skb-6 {
  background-color: #0093e9;
  color: white;
}

.bg-skb-6:hover {
  color: white;
  background-color: #056fac;
}

/* Text Color */
.text-skb-1 {
  color: #F675A8;
}

.text-skb-2 {
  color: #F675A8;
}

.text-skb-3 {
  color: #A460ED;
}

.text-skb-4 {
  color: #8449c4;
}